@import "compass";
@import "base";
@import "parts";
@import "plugins";

// Custom shit here
.subscribe-wrapper {
  border-radius: 4px;
  overflow: hidden;

  .about-wrapper {
    background: $color-main;
    padding: 20px;
  }

  .about {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  .mailchimp-form-wrapper {
    padding: 10px 20px;
    font-size: 16px;
    background: $color-main-faded;

    input {
      font-size: 16px;
    }
  }

  .mailchimp-form {
    text-align: center;
  }

  .mc-field-group {
    width: 300px;
    display: inline-block;
    box-sizing: border-box;

    &.submit-wrapper {
      max-width: 200px;
      margin-left: 20px;
      margin-right: 20px;
    }

    input {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
    }

    input[type=submit] {
      padding: 12px 18px;
      transition: all 0.3s ease;
      background: $color-main;
      border:0 none;
      cursor:pointer;
      border-radius: 5px;
      width: 100%;

      &:hover {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.giphy-embed {
  text-align: center;
  margin: auto;
  display: block;
  width: 480px;
  height: 270px;

  @media (max-width: 550px) {
    width: 360px;
    height: 202px;
  }

  @media (max-width: 420px) {
    width: 278px;
    height: 155px;
  }
}

h2 + .date-wrapper {
  p {
    color: #999;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 15px;
    font-style: italic;
  }
}

body article.post-summary {
  border-bottom: 1px solid #eee;
  padding: 50px 0;

  .post-image img {
    // object-fit: cover;
  }
}

body article {
  &.post .post-header {
    margin-bottom: 20px;

    h2.title {
      margin: 0;
      border: 0;
      padding: 0 0 5px 0;
    }

    .meta {
      font-style: italic;
      color: #999;
      position: relative;
      top: 0;
      padding: 0 0 10px 0;
    }
  }

  .entry-content {
    blockquote {
      background: rgba(255, 176, 0, 0.35);
      border-left: 5px solid #ffb000;
      font-style: italic;
      font-size: 20px;

      @media (max-width: 550px) {
        font-size: 16px;
      }

      p {
        padding: 10px 0;
        margin: 0;
      }
    }

    h2 {
      border-bottom: none;
      margin-bottom: 20px;

      &:before {
        border-bottom: none;
      }
    }
  }
}
