{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}


<body>

	<div class="modal-container">
		<div class="modal-wrapper">
			<div class="modal mailchimp-form-wrapper">
				<div class="picture-container">
					<img src="/images/modal_me_smiling.jpg" class="me"/>
        </div>
				<div class="close-wrapper">
					<a href="#" class="close-btn"></a>
				</div>
				<div class="blurb">
					<p>Join our community of warriors and receive the essential resources to help you reach your ultimate physique</p>
				</div>
				<form action="//sixpackwarriors.us15.list-manage.com/subscribe/post?u=1fb32b56e80d9e32ed4be48be&amp;id=eccf6b912b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="mailchimp-form">
						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email" placeholder="Your Email" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<input type="text" value="" placeholder="Your Name" name="FNAME" class="" id="mce-FNAME">
						</div>
						<div class="mc-field-group submit-wrapper">
							<input type="submit" value="Join The Community" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1fb32b56e80d9e32ed4be48be_eccf6b912b" tabindex="-1" value=""></div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<header id="header">{% include header.html %}</header>
	<div class="hero-container"></div>
	<div class="subscribe-wrapper">
		<div class="about-wrapper">
			<p class="about">
				We welcome you to join the Six Pack Warriors community as we give you the resources that you need and help you achieve your dream body the healthy and natural way.
			</p>
			<div class="join-now-opt-in submit-wrapper">
				<input type="submit" value="Join For Free" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
		</div>
	</div>

	<div id="content" class="inner">{{ content | expand_urls: root_url }}</div>
	<footer id="footer" class="inner">{% include footer.html %}</footer>
	{% include after_footer.html %}
</body>
</html>

<script type="text/javascript">
	$().ready(function() {
		$('.join-now-opt-in').on('click', function(e) {
			$('.modal-container').addClass('active');
		});

		$('.close-btn').on('click', function(e) {
			$('.modal-container').removeClass('active');
			e.preventDefault();
		})
	})
</script>
