{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}


<body>

	<div class="modal-container">
		<div class="modal-wrapper">
			<div class="modal mailchimp-form-wrapper">
				<div class="picture-container">
					<img src="/images/modal_me_smiling.jpg" class="me"/>
        </div>
				<div class="close-wrapper">
					<a href="#" class="close-btn"></a>
				</div>
				<div class="blurb">
					<p>Join our community of warriors and get daily essential resources to help you achieve your ultimate physique.</p>
				</div>
				<form action="//sixpackwarriors.us15.list-manage.com/subscribe/post?u=1fb32b56e80d9e32ed4be48be&amp;id=80d1788cb1&GROUP=BLOG" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div class="mailchimp-form">
						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email" placeholder="Your Email" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<input type="text" value="" placeholder="Your Name" name="FNAME" class="" id="mce-FNAME">
						</div>
						<div class="mc-field-group submit-wrapper">
							<input type="submit" value="Join The Community" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1fb32b56e80d9e32ed4be48be_eccf6b912b" tabindex="-1" value=""></div>
					</div>
				</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
      <script type='text/javascript'>
        (function($) {
          window.fnames = new Array();
          window.ftypes = new Array();
          fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='GROUP';ftypes[3]='radio';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
      </script>
		</div>
	</div>

	<header id="header">{% include header.html %}</header>
	<div class="post-hero" style="background-image:url({{page.image}});"></div>

	<div id="content" class="inner">
		<div class="main-content content-block">
			{{ content | expand_urls: root_url }}
		</div>
	</div>
	<footer id="footer" class="inner">{% include footer.html %}</footer>
	{% include after_footer.html %}
</body>
</html>

<script type="text/javascript">
	$().ready(function() {
		$('.join-now-opt-in').on('click', function(e) {
			$('.modal-container').addClass('active');
		});

		$('.close-btn').on('click', function(e) {
			$('.modal-container').removeClass('active');
			e.preventDefault();
		})
	})
</script>
