.post-summary{

	.post-summary-content{
    overflow: hidden;
		margin-left: auto;
    margin-right: auto;
		text-align: center;

		@media screen and (max-width: 600px){
			width: 100%;
			// margin-bottom: 20px;
		}


		@media screen and (min-width: 600px){
			// width: 90%;
		}

		/* iPads (portrait and landscape) ----------- */
		@media only screen
				and (min-width : 768px)
				and (max-width : 1024px) {
					// width: 100%;
					// margin-bottom: 20px;
		}

		.post-image {
			// display: inline-block;
			// vertical-align: top;

			a {
	    	text-decoration: none;
				display: block;
				min-width: 200px;
				height: 320px;
				// min-height: 320px;
				// border-radius: 50%;
				background-repeat: no-repeat;
			  background-position: center;
			  background-size: cover;

				&:hover {
					cursor: pointer;
				}
	    }

			@media screen and (min-width : 320px) {
				a {
					// margin-bottom: 20px;
				}
			}

			@media screen and (max-width: 600px) {
				img.post-image-preview {
				}
			}

			@media screen and (min-width: 600px){
			}
		}

		.post-description {
			display: inline-block;
			text-align: left;
			padding: 0 40px;
			box-sizing: border-box;

			@media screen and (min-width : 320px) {
				padding: 0;
			}

			@media screen and (min-width : 768px) {
				width: 60%;
				padding: 0 40px;
			}

			@media screen and (min-width: 1136px) {
				width: 80%;
			}

			h2.title{
				font-size: 30px;
				font-weight: 300;
				margin-left:0px;
				margin-bottom: 0px;
				text-align:left;
				border-bottom: 0px;

				a{
					color: #efefef;
				}
				a:hover{
					color: $color-main;
				}
				padding-bottom: .35em;
			}

			.post-excert{
				font-size: 15px;
			}
		}
	}
}
