.post-summary{

	.post-summary-content{
    overflow: hidden;
		margin-left: auto;
    margin-right: auto;

		@media screen and (max-width: 600px){
			width: 100%;
			margin-bottom: 20px;
		}


		@media screen and (min-width: 600px){
					width: 90%;
		}

		/* iPads (portrait and landscape) ----------- */
		@media only screen
				and (min-width : 768px)
				and (max-width : 1024px) {
					width: 100%;
					margin-bottom: 20px;
		}

		.post-image {
			a {
	    	text-decoration: none;
				display: block;
				min-width: 200px;
				min-height: 200px;
				border-radius: 50%;
				background-repeat: no-repeat;
			  background-position: center;
			  background-size: cover;

				&:hover {
					cursor: pointer;
				}
	    }

			@media screen and (max-width: 600px) {
				a {
					border-radius: 0;
				}

				img.post-image-preview {
				}
			}

			@media screen and (min-width: 600px){
				float: left;
				width: 200px;
			}


		}

		.post-description{

			@media screen and (min-width: 600px){
				float: left;
				width: 80%;
				margin-left: 20px;
			}

			@media only screen
					and (min-width : 768px)
					and (max-width : 1024px) {
						float: left;
						margin-right: 0px;
						width: 60%;
			}

			h2.title{
				font-size: 30px;
				font-weight: 300;
				line-height: 1;
				margin-left:0px;
				margin-bottom: 0px;
				text-align:left;
				border-bottom: 0px;

				a{
					color: #efefef;
				}
				a:hover{
					color: $color-main;
				}
				padding-bottom: .35em;
			}

			.post-excert{
				font-size: 15px;
			}
		}
	}
}
