$color-background: #242424;
// $color-main: #70B6A6;
$color-main: #f77c21;
$color-secondary: #009e42;
$color-main-faded: rgba(247,124,33,0.35);
$color-gray01: #fff !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;
