
Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}
<br>

<div class="social-follow">
  <ul class="follow-buttons">
    <li class="follow-button fb">
      <a href="https://www.facebook.com/Six-Pack-Warriors-251451071981733/" title="Follow Six Pack Warriors on Facebook">Follow Six Pack Warriors on Facebook</a>
    </li>
    <li class="follow-button twitter">
      <a href="https://twitter.com/sixpackwarriors" title="Follow Six Pack Warriors on Twitter">Follow Six Pack Warriors on Twitter</a>
    </li>
    <li class="follow-button youtube">
      <a href="https://www.youtube.com/channel/UCOFALWcBIHK-2boiAGaDoOw" title="Check Out Six Pack Warriors on YouTube">Check Out Six Pack Warriors on YouTube</a>
    </li>
    <li class="follow-button instagram">
      <a href="https://www.instagram.com/sixpackwarriors/" title="Follow Six Pack Warriors on Instagram">Follow Six Pack Warriors on Instagram</a>
    </li>
  </ul>
</div>

<!-- Social share -->
<script>
  var socialShareButtons = [
    "facebook",
    "twitter",
    "google-plus",
    "pinterest",
    "reddit",
    "linkedin",
    "stumbleupon"
    // "telegram",
    // "tumblr",
    // "vk",
    // "whatsapp"
  ];
  $("body").floatingSocialShare({
    buttons: socialShareButtons,
    twitter_counter: true,
    text: "share with: ",
    url: "http://blog.sixpackwarriors.com"
  });
</script>
